.title {
    font-weight: bold;
    font-size: 2em;
}

.loginButton {
    color: #2185d0;
    font-weight: bold;
    padding-left: 0.5em;
}

.login {
    color: #9f9fac !important;
}

.centerText {
    text-align: center !important;
}
