.title {
    font-weight: bold;
}

.registerButton {
    color: #2185d0;
    font-weight: bold;
    padding-left: 0.5em;
}

.register {
    color: #9f9fac !important;
}

.centerText {
    text-align: center !important;
}
